<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <title>Allocative - Add Server Details</title>

    <!-- Styles -->
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
      rel="stylesheet"
    />
    <link
      href="/static/cloud/plugins/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="/static/cloud/plugins/font-awesome/css/all.min.css"
      rel="stylesheet"
    />
    <link href="/static/cloud/plugins/waves/waves.min.css" rel="stylesheet" />

    <!-- Theme Styles -->
    <link href="/static/cloud/css/alpha.min.css" rel="stylesheet" />
    <link href="/static/cloud/css/custom.css" rel="stylesheet" />
  </head>
  <body>
    <div class="loader">
      <div class="spinner-border text-primary" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
    <div class="alpha-app">
      <div class="page-header">
        <nav class="navbar navbar-expand primary">
          <section class="material-design-hamburger navigation-toggle">
            <a
              href="javascript:void(0)"
              data-activates="slide-out"
              class="button-collapse material-design-hamburger__icon"
            >
              <span class="material-design-hamburger__layer"></span>
            </a>
          </section>
          <a class="navbar-brand" href="/CloudProvider/ServerDetails"
            >Allocative</a
          >
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
              <li class="d-md-block d-lg-none nav-item">
                <a class="nav-link search-link" href="#"
                  ><i class="material-icons">search</i></a
                >
              </li>
              <li class="nav-item dropdown d-none d-lg-block">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  id="navbarDropdown"
                  role="button"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  <i class="material-icons">notifications_none</i>
                  <span class="badge">4</span>
                </a>
                <ul
                  class="dropdown-menu dropdown-menu-right dd-notifications"
                  aria-labelledby="navbarDropdown"
                >
                  <li class="notification-drop-title">Today</li>
                  <li>
                    <a href="#!">
                      <div class="notification">
                        <div class="notification-icon circle cyan">
                          <i class="material-icons">done</i>
                        </div>
                        <div class="notification-text">
                          <p><b>Alan Grey</b> uploaded new theme</p>
                          <span>7 min ago</span>
                        </div>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="#!">
                      <div class="notification">
                        <div class="notification-icon circle deep-purple">
                          <i class="material-icons">cached</i>
                        </div>
                        <div class="notification-text">
                          <p><b>Tom</b> updated status</p>
                          <span>14 min ago</span>
                        </div>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="#!">
                      <div class="notification">
                        <div class="notification-icon circle red">
                          <i class="material-icons">delete</i>
                        </div>
                        <div class="notification-text">
                          <p><b>Amily Lee</b> deleted account</p>
                          <span>28 min ago</span>
                        </div>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="#!">
                      <div class="notification">
                        <div class="notification-icon circle cyan">
                          <i class="material-icons">person_add</i>
                        </div>
                        <div class="notification-text">
                          <p><b>Tom Simpson</b> registered</p>
                          <span>2 hrs ago</span>
                        </div>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="#!">
                      <div class="notification">
                        <div class="notification-icon circle green">
                          <i class="material-icons">file_upload</i>
                        </div>
                        <div class="notification-text">
                          <p>Finished uploading files</p>
                          <span>4 hrs ago</span>
                        </div>
                      </div>
                    </a>
                  </li>
                  <li class="notification-drop-title">Yestarday</li>
                  <li>
                    <a href="#!">
                      <div class="notification">
                        <div class="notification-icon circle green">
                          <i class="material-icons">security</i>
                        </div>
                        <div class="notification-text">
                          <p>Security issues fixed</p>
                          <span>16 hrs ago</span>
                        </div>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="#!">
                      <div class="notification">
                        <div class="notification-icon circle indigo">
                          <i class="material-icons">file_download</i>
                        </div>
                        <div class="notification-text">
                          <p>Finished downloading files</p>
                          <span>22 hrs ago</span>
                        </div>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="#!">
                      <div class="notification">
                        <div class="notification-icon circle cyan">
                          <i class="material-icons">code</i>
                        </div>
                        <div class="notification-text">
                          <p>Code changes were saved</p>
                          <span>1 day ago</span>
                        </div>
                      </div>
                    </a>
                  </li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link right-sidebar-link" href="#"
                  ><i class="material-icons">more_vert</i></a
                >
              </li>
            </ul>
          </div>
        </nav>
      </div>
      <!-- Page Header -->
      <div class="search-results">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="search-results-header">
                <h4>Quick Search Results</h4>
                <a href="#" id="closeSearch"
                  ><i class="material-icons">close</i></a
                >
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <ul class="search-result-list user-search">
                <li>
                  <img src="/static/cloud/images/avatars/avatar2.png" alt="" />
                  <p>
                    Tom Manchester<br />(Works at
                    <span class="search-input-value"></span>)
                  </p>
                </li>
                <li>
                  <img src="/static/cloud/images/avatars/avatar1.png" alt="" />
                  <p>
                    Luke Williams<br />(Lives in
                    <span class="search-input-value"></span>)
                  </p>
                </li>
                <li>
                  <img src="/static/cloud/images/avatars/avatar4.jpg" alt="" />
                  <p>
                    People near:<br /><span class="search-input-value"></span>
                  </p>
                </li>
              </ul>
            </div>
            <div class="col-md-4">
              <ul class="search-result-list social-search">
                <li>
                  <div class="social-search-icon facebook-icon-bg">
                    <i class="fab fa-facebook-f"></i>
                  </div>
                  <div class="social-search-text">
                    <p><span class="search-input-value"></span> on Facebook</p>
                  </div>
                </li>
                <li>
                  <div class="social-search-icon twitter-icon-bg">
                    <i class="fab fa-twitter"></i>
                  </div>
                  <div class="social-search-text">
                    <p><span class="search-input-value"></span> on Twitter</p>
                  </div>
                </li>
                <li>
                  <div class="social-search-icon google-icon-bg">
                    <i class="fab fa-google-plus-g"></i>
                  </div>
                  <div class="social-search-text">
                    <p><span class="search-input-value"></span> on Google+</p>
                  </div>
                </li>
              </ul>
            </div>
            <div class="col-md-4">
              <ul class="search-result-list article-search">
                <li>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur
                    <span class="search-input-value"></span> adipiscing elit,
                    sunt in culpa quifdaasd quis.
                  </p>
                  <span class="search-article-date">06 Dec, 2018</span>
                </li>
                <li>
                  <p>
                    Duis non semper sapien. Morbi imperdiet velit in
                    <span class="search-input-value"></span> bibendum lobortis.
                    Integer arcu urna, elementum in pellentesque nec, finibus at
                    nisi.
                  </p>
                  <span class="search-article-date">19 Nov, 2017</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- Quick Search Results -->
      <div class="page-sidebar">
        <div class="page-sidebar-inner">
          <div class="page-sidebar-profile">
            <div class="sidebar-profile-info">
              <a href="/CloudProvider/AddServer" class="account-settings-link">
                <p>{{name}}</p>
                <span
                  >{{ email }}<i class="material-icons float-right"
                    >arrow_drop_down</i
                  ></span
                >
              </a>
            </div>
          </div>
          <div class="page-sidebar-menu">
            <div class="sidebar-accordion-menu">
              <ul class="sidebar-menu list-unstyled">
                <li>
                  <a href="/CloudProvider" class="waves-effect waves-grey">
                    <i class="material-icons">settings_input_svideo</i>Dashboard
                  </a>
                </li>
                <li>
                  <a href="#" class="waves-effect waves-grey">
                    <i class="material-icons">apps</i>Server Settings<i
                      class="material-icons sub-arrow"
                      >keyboard_arrow_right</i
                    >
                  </a>
                  <ul class="accordion-submenu list-unstyled">
                    <li><a href="app-mailbox.html">Add Server</a></li>
                    <li><a href="app-file-manager.html">Server Details</a></li>

                  </ul>
                </li>
                <li>
                  <a href="/logout" class="waves-effect waves-grey">
                    <i class="material-icons">login</i>LogOut
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- Left Sidebar -->
      <div class="page-content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Add Server</h5>
                  <p>Create an Instance of Server.</p>
                  <form>
                    <div class="form-row">
                      <div class="form-group col-md-6">
                        <label for="ServerLabel">Server Label</label>
                        <input
                          type="text"
                          class="form-control"
                          id="ServerLabel"
                          placeholder="Email"
                        />
                      </div>
                      <div class="form-group col-md-6">
                        <label for="InstanceCount">Instances</label>
                        <input
                          type="number"
                          class="form-control"
                          id="InstanceCount"
                          placeholder="Password"
                        />
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="form-group col-md-12">
                        <p id="RamValue">Server Ram : 0 GB</p>
                      </div>
                      <div class="form-group col-md-12">
                        <input
                          type="range"
                          class="custom-range"
                          id="RamRange"
                          min="10"
                          max="100"
                        />
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="form-group col-md-12">
                        <p id="MemoryValue">Server Memory : 0 GB</p>
                      </div>
                      <div class="form-group col-md-12">
                        <input
                          type="range"
                          class="custom-range"
                          id="MemoryRange"
                          min="10"
                          max="100"
                        />
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="form-group col-md-4">
                        <label for="ServerLowTemperature">Lowest Working Temperature (&#8451;)</label>
                        <input
                          type="number"
                          class="form-control"
                          id="ServerLowTemperature"
                        />
                      </div>
                      <div class="form-group col-md-4">
                        <label for="ServerHighTemperature">Highest Working Temperature (&#8451;)</label>
                        <input type="number" class="form-control" id="ServerHighTemperature" />
                      </div>
                      <div class="form-group col-md-4">
                        <label for="CurrentTemperature">Current Room Temperature (&#8451;)</label>
                        <input type="number" class="form-control" id="CurrentTemperature" />
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="form-group col-md-6">
                        <label for="OptimalLowTemperature">Lowest Optimal Working Temperature (&#8451;)</label>
                        <input
                          type="number"
                          class="form-control"
                          id="OptimalLowTemperature"
                        />
                      </div>
                      <div class="form-group col-md-6">
                        <label for="OptimalHighTemperature">Highest Optimal Working Temperature (&#8451;) </label>
                        <input type="number" class="form-control" id="OptimalHighTemperature" />
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="form-group col-md-12">
                       
                        <h3>
                          Server Temperature = b<sub>1</sub>*(CurrentTemperature)<sup>p1</sup> + b<sub>2</sub>*(RamUtilized)<sup>p2</sup> + b<sub>3</sub>*(DataTransmission)<sup>p3</sup>
                        </h3>
                      </div>
                      <div class="form-group col-md-6">
                        
                        <label for="B1">B1 constant </label>
                        
                        <input type="number" class="form-control" id="B1" step="0.01"/>
                      </div>
                      <div class="form-group col-md-6">
                        
                        <label for="P1">P1 Power </label>
                        
                        <input type="number" class="form-control" id="P1" max="3"/>
                      </div>

                      <div class="form-group col-md-6">
                        
                        <label for="B2">B2 constant </label>
                        
                        <input type="number" class="form-control" id="B2" step="0.01"/>
                      </div>
                      <div class="form-group col-md-6">
                        
                        <label for="P2">P2 Power </label>
                        
                        <input type="number" class="form-control" id="P2" max="3"/>
                      </div>

                      <div class="form-group col-md-6">
                        
                        <label for="B3">B3 constant </label>
                        
                        <input type="number" class="form-control" id="B3" step="0.01"/>
                      </div>
                      <div class="form-group col-md-6">
                        
                        <label for="P3">P3 Power </label>
                        
                        <input type="number" class="form-control" id="P3" max="3"/>
                      </div>
                    </div>
                    <button
                      type="button"
                      class="btn btn-primary"
                      id="InstantiateServer"
                    >
                      Instantiate Server
                    </button>
                  </form>
                </div>
              </div>
            
             
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Select</h5>
                  <p>
                    Custom <code>&lt;select&gt;</code> menus need only a custom
                    class, <code>.custom-select</code> to trigger the custom
                    styles. Custom styles are limited to the
                    <code>&lt;select&gt;</code>’s initial appearance and cannot
                    modify the <code>&lt;option&gt;</code>s due to browser
                    limitations.
                  </p>
                  <select class="custom-select form-control">
                    <option selected>Open this select menu</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Page Content -->
      <div class="page-right-sidebar">
        <div class="page-right-sidebar-inner">
          <div class="right-sidebar-header">
            <ul class="nav nav-tabs">
              <li class="nav-item">
                <a
                  class="nav-link active"
                  id="chat-tab"
                  data-toggle="tab"
                  href="#chat-content"
                  role="tab"
                  aria-controls="chat"
                  aria-selected="true"
                  >Chat</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  id="settings-tab"
                  data-toggle="tab"
                  href="#settings-content"
                  role="tab"
                  aria-controls="settings"
                  aria-selected="false"
                  >Settings</a
                >
              </li>
            </ul>
          </div>
          <div class="tab-content">
            <div
              class="sidebar-messages tab-pane fade show active"
              id="chat-content"
              role="tabpanel"
              aria-labelledby="chat-content"
            >
              <p class="right-sidebar-heading">CHAT LIST</p>
              <div class="chat-list">
                <a href="javascript:void(0)" class="chat-message">
                  <div class="chat-item">
                    <div class="chat-item-image">
                      <img
                        src="/static/cloud/images/avatars/avatar1.png"
                        class="circle"
                        alt=""
                      />
                    </div>
                    <div class="chat-item-info">
                      <p class="chat-name">John Doe</p>
                      <span class="chat-message">Hello</span>
                    </div>
                  </div>
                </a>
                <a href="javascript:void(0)" class="chat-message">
                  <div class="chat-item">
                    <div class="chat-item-image">
                      <img
                        src="/static/cloud/images/avatars/avatar4.jpg"
                        class="circle"
                        alt=""
                      />
                    </div>
                    <div class="chat-item-info">
                      <p class="chat-name">Tom Simpson</p>
                      <span class="chat-message">How are you?</span>
                    </div>
                  </div>
                </a>
                <a href="javascript:void(0)" class="chat-message">
                  <div class="chat-item">
                    <div class="chat-item-image">
                      <img
                        src="/static/cloud/images/avatars/avatar2.png"
                        class="circle"
                        alt=""
                      />
                    </div>
                    <div class="chat-item-info">
                      <p class="chat-name">Alan Grey</p>
                      <span class="chat-message">Call me later</span>
                    </div>
                  </div>
                </a>
                <a href="javascript:void(0)" class="chat-message">
                  <div class="chat-item">
                    <div class="chat-item-image">
                      <img
                        src="/static/cloud/images/avatars/avatar3.png"
                        class="circle"
                        alt=""
                      />
                    </div>
                    <div class="chat-item-info">
                      <p class="chat-name">Michael Fisher</p>
                      <span class="chat-message">How's it going?</span>
                    </div>
                  </div>
                </a>
                <a href="javascript:void(0)" class="chat-message">
                  <div class="chat-item">
                    <div class="chat-item-image">
                      <img
                        src="/static/cloud/images/avatars/avatar1.png"
                        class="circle"
                        alt=""
                      />
                    </div>
                    <div class="chat-item-info">
                      <p class="chat-name">Amily Lee</p>
                      <span class="chat-message">We're good</span>
                    </div>
                  </div>
                </a>
                <a href="javascript:void(0)" class="chat-message">
                  <div class="chat-item">
                    <div class="chat-item-image">
                      <img
                        src="/static/cloud/images/avatars/avatar4.jpg"
                        class="circle"
                        alt=""
                      />
                    </div>
                    <div class="chat-item-info">
                      <p class="chat-name">Sandra Smith</p>
                      <span class="chat-message">See you later!</span>
                    </div>
                  </div>
                </a>
                <a href="javascript:void(0)" class="chat-message">
                  <div class="chat-item">
                    <div class="chat-item-image">
                      <img
                        src="/static/cloud/images/avatars/avatar2.png"
                        class="circle"
                        alt=""
                      />
                    </div>
                    <div class="chat-item-info">
                      <p class="chat-name">Sandra Smith</p>
                      <span class="chat-message">Can we meet?</span>
                    </div>
                  </div>
                </a>
              </div>
              <div class="chat-sidebar-options">
                <a href="#" class="float-left"
                  ><i class="material-icons">edit</i></a
                >
                <a href="#" class="float-right"
                  ><i class="material-icons">settings</i></a
                >
              </div>
            </div>
            <div
              class="tab-pane fade"
              id="settings-content"
              role="tabpanel"
              aria-labelledby="settings-content"
            >
              <p class="right-sidebar-heading">SYSTEM</p>
              <div class="settings-list">
                <div class="setting-item">
                  <div class="setting-text">Notifications</div>
                  <div class="setting-set">
                    <div class="material-switch pull-right">
                      <input
                        id="set-1"
                        name="someSwitchOption001"
                        type="checkbox"
                        checked
                      />
                      <label for="set-1" class="label-default"></label>
                    </div>
                  </div>
                </div>
                <div class="setting-item">
                  <div class="setting-text">Quick Results</div>
                  <div class="setting-set">
                    <div class="material-switch pull-right">
                      <input
                        id="set-2"
                        name="someSwitchOption001"
                        type="checkbox"
                        checked
                      />
                      <label for="set-2" class="label-default"></label>
                    </div>
                  </div>
                </div>
                <div class="setting-item">
                  <div class="setting-text">Auto Updates</div>
                  <div class="setting-set">
                    <div class="material-switch pull-right">
                      <input
                        id="set-3"
                        name="someSwitchOption001"
                        type="checkbox"
                      />
                      <label for="set-3" class="label-default"></label>
                    </div>
                  </div>
                </div>
              </div>
              <p class="right-sidebar-heading">ACCOUNT</p>
              <div class="settings-list">
                <div class="setting-item">
                  <div class="setting-text">Offline Mode</div>
                  <div class="setting-set">
                    <div class="material-switch pull-right">
                      <input
                        id="set-4"
                        name="someSwitchOption001"
                        type="checkbox"
                      />
                      <label for="set-4" class="label-default"></label>
                    </div>
                  </div>
                </div>
                <div class="setting-item">
                  <div class="setting-text">Location</div>
                  <div class="setting-set">
                    <div class="material-switch pull-right">
                      <input
                        id="set-5"
                        name="someSwitchOption001"
                        type="checkbox"
                      />
                      <label for="set-5" class="label-default"></label>
                    </div>
                  </div>
                </div>
                <div class="setting-item">
                  <div class="setting-text">Show Offline Users</div>
                  <div class="setting-set">
                    <div class="material-switch pull-right">
                      <input
                        id="set-6"
                        name="someSwitchOption001"
                        type="checkbox"
                      />
                      <label for="set-6" class="label-default"></label>
                    </div>
                  </div>
                </div>
                <div class="setting-item">
                  <div class="setting-text">Save History</div>
                  <div class="setting-set">
                    <div class="material-switch pull-right">
                      <input
                        id="set-7"
                        name="someSwitchOption001"
                        type="checkbox"
                      />
                      <label for="set-7" class="label-default"></label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Right Sidebar (CHAT & SETTINGS) -->
      <div class="chat-sidebar">
        <p class="sidebar-chat-name">
          Tom Simpson<a
            href="#"
            data-activates="chat-messages"
            class="chat-message-link"
            ><i class="material-icons">keyboard_arrow_right</i></a
          >
        </p>
        <div class="messages-container">
          <div class="message-wrapper them">
            <div class="circle-wrapper">
              <img
                src="/static/cloud/images/avatars/avatar1.png"
                class="circle"
                alt=""
              />
            </div>
            <div class="text-wrapper">Lorem Ipsum</div>
          </div>
          <div class="message-wrapper me">
            <div class="circle-wrapper">
              <img
                src="/static/cloud/images/avatars/avatar2.png"
                class="circle"
                alt=""
              />
            </div>
            <div class="text-wrapper">Integer in faucibus diam?</div>
          </div>
          <div class="message-wrapper them">
            <div class="circle-wrapper">
              <img
                src="/static/cloud/images/avatars/avatar1.png"
                class="circle"
                alt=""
              />
            </div>
            <div class="text-wrapper">
              Vivamus quis neque volutpat, hendrerit justo vitae, suscipit dui
            </div>
          </div>
          <div class="message-wrapper me">
            <div class="circle-wrapper">
              <img
                src="/static/cloud/images/avatars/avatar2.png"
                class="circle"
                alt=""
              />
            </div>
            <div class="text-wrapper">
              Suspendisse condimentum tortor et lorem pretium
            </div>
          </div>
          <div class="message-wrapper them">
            <div class="circle-wrapper">
              <img
                src="/static/cloud/images/avatars/avatar1.png"
                class="circle"
                alt=""
              />
            </div>
            <div class="text-wrapper">dolore eu fugiat nulla pariatur</div>
          </div>
          <div class="message-wrapper me">
            <div class="circle-wrapper">
              <img
                src="/static/cloud/images/avatars/avatar2.png"
                class="circle"
                alt=""
              />
            </div>
            <div class="text-wrapper">Duis maximus leo eget massa porta</div>
          </div>
        </div>
        <div class="message-compose-box">
          <div class="input-field">
            <div class="form-group">
              <label for="message_compose">Write message</label>
              <input
                placeholder="Write message"
                id="message_compose"
                type="text"
              />
            </div>
          </div>
        </div>
      </div>
      <!-- Chat Sidebar -->
    </div>
    <!-- App Container -->

    <!-- Javascripts -->
    <script src="/static/cloud/plugins/jquery/jquery-3.4.1.min.js"></script>
    <script src="/static/cloud/plugins/bootstrap/popper.min.js"></script>
    <script src="/static/cloud/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/cloud/plugins/waves/waves.min.js"></script>
    <script src="/static/cloud/plugins/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <script src="/static/cloud/js/alpha.min.js"></script>

    <script>
      $(document).ready(function () {
        $("#RamRange").change(function () {
          var RamUse = "Server Ram: " + $("#RamRange").val() + " GB";
          $("#RamValue").text(RamUse);
        });

        $("#MemoryRange").change(function () {
          var RamUse = "Server Memory: " + $("#MemoryRange").val() + " GB";
          $("#MemoryValue").text(RamUse);
        });

        $("#InstantiateServer").click(function () {
          $.ajax({
            data: {
              
              Label: $("input[id='ServerLabel']").val(),
              Instance: $("input[id='InstanceCount']").val(),
              
              Ram: $("#RamRange").val(),
              Memory: $("#MemoryRange").val(),

              LowestTemperature : $("#ServerLowTemperature").val(),
              HighestTemperature : $("#ServerHighTemperature").val(),
              CurrentTemperature : $("#CurrentTemperature").val(),

              OptimalLow : $("#OptimalLowTemperature").val(),
              OptimalHigh : $("#OptimalHighTemperature").val(),

              B1 = $("#B1").val(),
              P1 = $("#P1").val(),
              
              B3 = $("#B2").val(),
              P2 = $("#P2").val(),

              B3 = $("#B3").val(),
              P3 = $("#P3").val(),
            },
            type: "POST",
            url: "/GetServerAdd",
          }).done(
              function (data) {

          });
          event.preventDefault();
        });
      });
    </script>
  </body>
</html>
